version: 2
updates:
  - package-ecosystem: "pip"
    directory: "."
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "UTC"
    target-branch: "main"
    open-pull-requests-limit: 1
  - package-ecosystem: "pip"
    directory: "example-package"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00"
      timezone: "UTC"
    target-branch: "main"
    open-pull-requests-limit: 1
