repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: "{{ cookiecutter.project_slug }}"
      - id: check-ast
      - id: check-json
      - id: check-added-large-files
      - id: check-toml
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=2"
          - "--no-sort-keys"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "{{ cookiecutter.project_slug }}"
      - id: ruff-format
        exclude: "{{ cookiecutter.project_slug }}"
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
